<%-include ./Partials/header.ejs %>
<%-include ./Partials/navbar.ejs %>
<main class="container">
    <div class="row">
        <div class="offsed-md-1 col-md-10">
            <table class="table table-borderless table-hover">
                <!--Headers-->
                <tr class="d-flex">
                    <th class="text-center col-2">Reviewer</th>
                    <th class="text-center col-3">Movie</th>
                    <th class="text-center col-1">Rating</th>
                    <th class="text-center col-6">Comment</th>
                </tr>
                <!--a for loop to write out all of the reviews.-->
                <tr class="d-flex">
                    <th class="text-center col-2">Reviewer</th>
                    <th class="text-center col-3">Movie</th>
                    <th class="text-center col-1">Rating</th>
                    <th class="text-center col-6">Comment</th>
                </tr>
            </table>
        </div>
    </div>
</main>
<%-include ./Partials/footer.ejs %>