<%-include ./Partials/header.ejs %>
<%-include ./Partials/navbar.ejs %>
<main class="container">
    <div class="row">
        <div class="offsed-md-1 col-md-10">
            
        </div>
    </div>
</main>
<%-include ./Partials/footer.ejs %>